/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel, .carousel .item {
	height: 300px;
}
.carousel {
	margin-bottom: 20px;
}
.carousel-caption {
	z-index: 10;
	top: 0px;
}
.carousel .item {
	background-color: #383644;
	background-position: center;
	background-repeat: repeat-x;
}




/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
.carousel-caption p {
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 1.4;
}
}
@media screen and (max-width: 768px) {
.carousel-caption h1 {
	font-size: 30px;
}
.carousel-caption p {
	display: none;
}
}
